@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(199, 225, 241);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(14, 207, 127);
    background-color: rgb(238, 235, 235);
    color: rgb(14, 207, 127);
    font-size: 20pt;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 20pt;
}